.flex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; /* optional: center the grid */
  height: 600px;
  overflow: auto;
}

.grid-img {
  width: 20%;         /* 5 per row */
  aspect-ratio: 1/1;  /* keeps images square if supported */
  //object-fit: cover;  /* ensures images fill the box */
  box-sizing: border-box;
  padding: 4px;       /* optional: spacing between images */
  height: fit-content;
}

.json {
  white-space: pre-wrap;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 1rem;
  font-family: monospace;
  border-radius: 8px;
  max-width: 600px;
  margin: 1rem auto;
  overflow-x: auto;
}


.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  height: 100%;
}

.card h3 {
  margin-top: 0;
}

.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}
