<p-menubar *ngIf=" isAuthenticated | async" [model]="menuItems" >
  <ng-template pTemplate="end">
    <button pButton pButtonLabel="Login" icon="pi pi-sign-out" severity="danger" class="p-button-text" (click)="logOut()">Log out</button>
  </ng-template>
</p-menubar>
<p-menubar *ngIf="!(isAuthenticated | async)" [model]="publicMenuItems">
  <ng-template pTemplate="end">
    <button pButton pButtonLabel="Login" icon="pi pi-sign-in" severity="primary" class="p-button-text"
            (click)="logIn()">Log in
    </button>
  </ng-template>
</p-menubar>

<router-outlet />
