
<div id="g_id_onload"
     data-client_id="YOUR_GOOGLE_CLIENT_ID"
     data-login_uri="https://your.domain/your_login_endpoint"
     data-auto_prompt="false">
</div>



<!--<div class="card flex justify-center">-->
<!--  <p-button label="Check" />-->
<!--</div>-->
<div>
  <p-dropdown
    [options]="categories"
    [(ngModel)]="selectedCategory"
    optionLabel="label"
    placeholder="Select a category"
    (onChange)="onCategoryChange()"
  />
  <p-dropdown
    [options]="model_names"
    [(ngModel)]="selectedModel"
    placeholder="Select a model"
    (onChange)="onModelChange()"
  />
  Default model is GoogleNet
</div>

<div class="flex-grid">
  @for($img of images;track $img.url)
  {
    <div class="grid-img card" style="display: flex; flex-direction: column; align-items: center;margin: 0.5rem;">
      <img [src]="`${BASE_URL}${$img.url}`" style="width: 100%;"/>
      <p-button label="Predict" (onClick)="predict($img)" />
    </div>
  }
</div>
<p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="imageCount.count" [rowsPerPageOptions]="[10, 25, 50]" />

<p-dialog header="Prediction report" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div>
    Predicted mask:
  </div>
  <div>
    <img [src]="`${mask_url}`" class=""/>
  </div>
  <div>
    Prediction details
  </div>
  <div class="json" >
    <p>JSON</p>
    <pre>{{ json | json }}</pre>

  </div>
</p-dialog>
